.articles {
	background-color: $background-color_3;
	padding: 2.8125em 0;
	.art1 {
		position: relative;
		height: 23.125em;
		border: 0.0625em solid #E8E9ED;
		background-color: $background-color_4;
		margin: 0 1.875em 2.625em;
		border-radius: 0.3125em;
		img {
			&:nth-child(3) {
				display: none;
			}
			&:nth-child(4) {
				display: none;
			}
			&:nth-child(1) {
				position: absolute;
				top: 2.3125em;
				right: 15%;
				z-index: 1;
			}
			&:nth-child(2) {
				position: absolute;
				top: 0.9375em;
				right: 15%;
			}
		}
		h3 {
			height: 72px;
			width: 80%;
			font-family: $font-family_1;
			font-style: normal;
			font-weight: 400;
			font-size: 30px;
			line-height: 35px;
			margin: 174px 94px 10px 22px;
		}
		p {
			font-family: $font-family_2;
			font-style: normal;
			font-weight: 400;
			font-size: 14px;
			line-height: 21px;
			margin: 0 21px 30px;
		}
	}
	.art2 {
		position: relative;
		height: 370px;
		border: 1px solid #E8E9ED;
		background-color: $background-color_4;
		margin: 0px 30px 42px;
		border-radius: 5px;
		img {
			&:nth-child(3) {
				display: none;
			}
			&:nth-child(4) {
				display: none;
			}
			&:nth-child(1) {
				position: absolute;
				top: 19.01px;
				right: 15%;
				z-index: 1;
			}
			&:nth-child(2) {
				position: absolute;
				top: 12px;
				right: 31%;
			}
		}
		h3 {
			height: 72px;
			width: 80%;
			font-family: $font-family_1;
			font-style: normal;
			font-weight: 400;
			font-size: 30px;
			line-height: 35px;
			margin: 174px 94px 10px 22px;
		}
		p {
			font-family: $font-family_2;
			font-style: normal;
			font-weight: 400;
			font-size: 14px;
			line-height: 21px;
			margin: 0 21px 30px;
		}
	}
	.art3__text {
		position: relative;
		height: 100%;
		max-height: 314px;
		border: 1px solid #E8E9ED;
		background-color: $background-color_4;
		margin: 42px 30px 0;
		border-radius: 5px;
		h3 {
			width: 80%;
			font-family: $font-family_1;
			font-style: normal;
			font-weight: 400;
			font-size: 30px;
			line-height: 35px;
			margin: 31px 6% 6%;
		}
		p {
			font-family: $font-family_5;
			font-style: normal;
			font-weight: 400;
			font-size: 16px;
			line-height: 21px;
			margin: 31px 6% 6%;
		}
	}
	.art3__trumpet {
		position: relative;
		height: 195px;
		margin: 0px 30px;
		background-color: $background-color_5;
		border-radius: 5px;
		img {
			position: absolute;
			top: 25px;
			width: 90%;
			max-width: 350px;
		}
	}
}