.main {
	margin-top: 10.625em;
	text-align: center;
	color: $color_4;
	h2 {
		font-family: $font-family_3;
		font-style: normal;
		font-weight: 400;
		font-size: 2.188em;
		line-height: 1.171em;
	}

	
	p {
		font-family: $font-family_2;
		font-size: 1em;
		font-weight: 400;
		line-height: 1.438em;
		margin: 1.25em 2.063em 1.75em;
		text-align: center;
	}
	.main__open {
		height: 4.188em;
		width: 90%;
		background: #08A6E4;
		border: #08A6E4;
		box-shadow: 0.313em 0.625em 0.875em rgba(7, 172, 230, 0.29);
		border-radius: 2.5em;
		cursor: pointer;
		p {
			color: $color_5;
			font-family: $font-family_4;
			font-size: 1rem;
			font-weight: 700;
			position: relative;
			text-align: center;
		}
	}
}

.returnTop{
		
}
.background {
	.background__image {
		height: 16.688em;
		margin-top: 0;
		width: 100%;
		background-image: url("../images/BackgroundPc.png");
		background-size: cover;
		background-position: center;
	}
	p {
		font-family: $font-family_1;
		font-weight: 400;
		font-size: 1.875em;
		line-height: 1.25em;
		text-align: center;
		margin: 0.813em 2.25em 1.563em;
	}
	
}


@media only screen and (min-width: 1000px)
 {

	.main {
		.main__open {
			max-width: 440px;
		}
	}
	.background {
		.background__image {
			height: 594px;
		}
	}

}