@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
$color_1: #08A6E4;
$color_2: #a5a5a5;
$color_3: black;
$color_4: #000000;
$color_5: white;
$color_6: #13253B;
$red: #FB3B64;
$color_8: #FFFFFF;
$color_9: #07ACE6;
$color_10: #55DFB4;
$color_11: #A5A5A5;
$color_12: #707070;
$font-family_1: "Raleway";
$font-family_2: "Open Sans";
$font-family_3: "raleway";
$font-family_4: "Open Sans",;
$font-family_5: "Open Sans", sans-serif;
$background-color_1: #fff;
$background-color_2: #08A6E4;
$background-color_3: #F7F7F7;
$background-color_4: #FFFFFF;
$background-color_5: #55DFB4;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	min-width: 20em;
	position: relative;
}

@import "header";
@import "main";
@import "statistics";
@import "articles";
@import "pricing";
@import "myform";
@import "footer";








	

	












