@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 20em;
  position: relative;
}

header {
  box-shadow: 0px 0.188em 0.375em rgba(0, 0, 0, 0.29);
  width: 100%;
  min-height: 4.375em;
  position: fixed;
  top: 0;
  z-index: 5;
  background-color: #fff;
}
header .navbar {
  position: relative;
  padding-left: 1.563em;
  padding-top: 1.063em;
  background-color: #fff;
}
header .navbar a {
  text-decoration: none;
}
header .navbar .menu__logo {
  font-family: "Raleway";
  font-size: 2em;
  font-weight: 300;
  color: #08A6E4;
}
header .navbar .navbar__menuList {
  background-color: #fff;
  list-style-type: none;
  padding-top: 1.25em;
  padding-bottom: 1.25em;
  display: none;
}
header .navbar .navbar__menuList .navbar__menuList__item a {
  text-decoration: none;
  font-family: "Open Sans";
  font-size: 0.6875em;
  font-weight: 700;
  color: #a5a5a5;
}
header .navbar .navbar__menuList .navbar__menuList__item a:hover {
  color: black;
}
header .navbar .hamburger {
  position: absolute;
  display: block;
  cursor: pointer;
  top: 24px;
  left: 90%;
  border: none;
  background-color: #fff;
  z-index: 2;
}
header .navbar .hamburger .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: #08A6E4;
  transition: all 0.3s;
}
header .navbar .hamburger.active .bar:nth-child(2) {
  opacity: 0;
}
header .navbar .hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
header .navbar .hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
header .navbar .navbar__menuList.active {
  display: block;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  background-color: white;
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 1;
}

@media only screen and (min-width: 1000px) {
  header .navbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 70px;
    padding: 0;
  }
  header .navbar .menu__logo {
    position: relative;
    left: 136px;
  }
  header .navbar .navbar__menuList {
    padding: 0;
    height: 70px;
    position: relative;
    display: flex;
    right: 115px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header .navbar .navbar__menuList .navbar__menuList__item {
    margin: 0;
    height: 70px;
    display: flex;
    position: relative;
    align-items: center;
    margin-left: 105px;
  }
  header .navbar .navbar__menuList .navbar__menuList__item:hover {
    border-bottom: 4px solid #08A6E4;
  }
  header .navbar .hamburger {
    display: none;
  }
  header .navbar .hamburger.active {
    display: none;
  }
}
.main {
  margin-top: 10.625em;
  text-align: center;
  color: #000000;
}
.main h2 {
  font-family: "raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 2.188em;
  line-height: 1.171em;
}
.main p {
  font-family: "Open Sans";
  font-size: 1em;
  font-weight: 400;
  line-height: 1.438em;
  margin: 1.25em 2.063em 1.75em;
  text-align: center;
}
.main .main__open {
  height: 4.188em;
  width: 90%;
  background: #08A6E4;
  border: #08A6E4;
  box-shadow: 0.313em 0.625em 0.875em rgba(7, 172, 230, 0.29);
  border-radius: 2.5em;
  cursor: pointer;
}
.main .main__open p {
  color: white;
  font-family: "Open Sans";
  font-size: 1rem;
  font-weight: 700;
  position: relative;
  text-align: center;
}

.background .background__image {
  height: 16.688em;
  margin-top: 0;
  width: 100%;
  background-image: url("../images/BackgroundPc.png");
  background-size: cover;
  background-position: center;
}
.background p {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 1.875em;
  line-height: 1.25em;
  text-align: center;
  margin: 0.813em 2.25em 1.563em;
}

@media only screen and (min-width: 1000px) {
  .main .main__open {
    max-width: 440px;
  }
  .background .background__image {
    height: 594px;
  }
}
.statistics {
  position: relative;
}
.statistics .vector {
  position: relative;
  text-align: center;
  margin-bottom: 1.563em;
}
.statistics .vector .person {
  position: absolute;
  left: 50%;
  top: 10%;
}
.statistics .vector .eye {
  position: absolute;
  left: 50%;
  top: 10%;
}
.statistics .vector .cards {
  position: absolute;
  left: 50%;
  top: 10%;
}
.statistics .quantity {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 1.25em;
  text-align: center;
  letter-spacing: 0.3725em;
  line-height: 1.5em;
}
.statistics .object {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 1.0625em;
  text-align: center;
  font-style: normal;
  margin-top: 1em;
}

@media only screen and (min-width: 1000px) {
  .statistics {
    display: flex;
    justify-content: space-evenly;
    margin: 103px;
  }
}
.articles {
  background-color: #F7F7F7;
  padding: 2.8125em 0;
}
.articles .art1 {
  position: relative;
  height: 23.125em;
  border: 0.0625em solid #E8E9ED;
  background-color: #FFFFFF;
  margin: 0 1.875em 2.625em;
  border-radius: 0.3125em;
}
.articles .art1 img:nth-child(3) {
  display: none;
}
.articles .art1 img:nth-child(4) {
  display: none;
}
.articles .art1 img:nth-child(1) {
  position: absolute;
  top: 2.3125em;
  right: 15%;
  z-index: 1;
}
.articles .art1 img:nth-child(2) {
  position: absolute;
  top: 0.9375em;
  right: 15%;
}
.articles .art1 h3 {
  height: 72px;
  width: 80%;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
  margin: 174px 94px 10px 22px;
}
.articles .art1 p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  margin: 0 21px 30px;
}
.articles .art2 {
  position: relative;
  height: 370px;
  border: 1px solid #E8E9ED;
  background-color: #FFFFFF;
  margin: 0px 30px 42px;
  border-radius: 5px;
}
.articles .art2 img:nth-child(3) {
  display: none;
}
.articles .art2 img:nth-child(4) {
  display: none;
}
.articles .art2 img:nth-child(1) {
  position: absolute;
  top: 19.01px;
  right: 15%;
  z-index: 1;
}
.articles .art2 img:nth-child(2) {
  position: absolute;
  top: 12px;
  right: 31%;
}
.articles .art2 h3 {
  height: 72px;
  width: 80%;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
  margin: 174px 94px 10px 22px;
}
.articles .art2 p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  margin: 0 21px 30px;
}
.articles .art3__text {
  position: relative;
  height: 100%;
  max-height: 314px;
  border: 1px solid #E8E9ED;
  background-color: #FFFFFF;
  margin: 42px 30px 0;
  border-radius: 5px;
}
.articles .art3__text h3 {
  width: 80%;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
  margin: 31px 6% 6%;
}
.articles .art3__text p {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  margin: 31px 6% 6%;
}
.articles .art3__trumpet {
  position: relative;
  height: 195px;
  margin: 0px 30px;
  background-color: #55DFB4;
  border-radius: 5px;
}
.articles .art3__trumpet img {
  position: absolute;
  top: 25px;
  width: 90%;
  max-width: 350px;
}

@media only screen and (min-width: 1000px) {
  .articles {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 7% 15%;
  }
  .articles .art1 {
    position: relative;
    display: grid;
    padding: 0px 35px;
    grid-template-columns: 1fr 1fr;
    justify-items: left;
    align-content: center;
  }
  .articles .art1 img:nth-child(3) {
    display: block;
    grid-column: 2;
    position: absolute;
    top: 100px;
    right: 5%;
    z-index: 2;
  }
  .articles .art1 img:nth-child(4) {
    display: block;
    grid-column: 2;
    position: absolute;
    top: 50px;
    right: 2%;
    z-index: 1;
  }
  .articles .art1 img:nth-child(1) {
    display: none;
  }
  .articles .art1 img:nth-child(2) {
    display: none;
  }
  .articles .art1 h3 {
    grid-column: 1;
    margin: 0px;
    height: auto;
  }
  .articles .art1 p {
    grid-column: 1;
    margin: 30px 0px 50px;
    width: 70%;
    border-bottom: 4px solid #EB476E;
    padding-bottom: 50px;
  }
  .articles .art2 {
    position: relative;
    display: grid;
    padding: 0px 35px;
    grid-template-columns: 1fr 1fr;
    justify-items: right;
    align-content: center;
  }
  .articles .art2 img:nth-child(3) {
    display: block;
    grid-column: 1;
    position: absolute;
    top: 30px;
    left: -2%;
    z-index: 2;
  }
  .articles .art2 img:nth-child(4) {
    display: block;
    grid-column: 1;
    position: absolute;
    top: 12px;
    left: 0%;
    z-index: 1;
  }
  .articles .art2 img:nth-child(1) {
    display: none;
  }
  .articles .art2 img:nth-child(2) {
    display: none;
  }
  .articles .art2 h3 {
    grid-column: 2;
    margin: 0px;
    height: auto;
  }
  .articles .art2 p {
    grid-column: 2;
    margin: 30px 0px 50px;
    width: 80%;
    border-bottom: 4px solid #07ACE6;
    padding-bottom: 50px;
  }
  .articles .art3 {
    width: 100%;
    display: flex;
    padding: 0 30px;
  }
  .articles .art3 .art3__text {
    height: 370px;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0px;
    margin-right: 30px;
    padding-left: 30px;
  }
  .articles .art3 .art3__text h3 {
    margin: 0px;
  }
  .articles .art3 .art3__text p {
    margin: 0px;
    width: 80%;
    border-bottom: 4px solid #55DFB4;
    padding-bottom: 50px;
  }
  .articles .art3 .art3__trumpet {
    display: flex;
    width: 60%;
    height: auto;
    margin: 0px;
  }
  .articles .art3 .art3__trumpet img {
    top: 75px;
  }
}
.pricing {
  position: relative;
}
.pricing h3 {
  font-family: "Raleway";
  font-size: 36px;
  text-align: center;
  font-weight: 400;
  line-height: 42px;
  margin-bottom: 14px;
}
.pricing .pricing__table .basic {
  position: relative;
  border: 1px solid #FB3B64;
  border-radius: 18px;
  margin: 0px 11% 54px;
  width: 75%;
  padding: 25px 0;
  display: table;
}
.pricing .pricing__table .basic:hover {
  box-shadow: 5px 10px 27px rgba(251, 59, 100, 0.9);
  transform: scale(1.15);
  transition: transform 0.3s ease-in-out;
  border-width: 2px;
}
.pricing .pricing__table .basic div {
  display: table-cell;
  vertical-align: middle;
  width: 50%;
}
.pricing .pricing__table .basic .basic__tittle p {
  text-align: center;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #13253B;
}
.pricing .pricing__table .basic .basic__tittle .basic__pricing {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 46px;
  line-height: 64px;
  color: #FB3B64;
}
.pricing .pricing__table .basic ul {
  text-align: left;
}
.pricing .pricing__table .basic ul li {
  list-style-type: none;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  margin-bottom: 20px;
}
.pricing .pricing__table .basic ul img {
  width: 14px;
  margin-right: 10px;
}
.pricing .pricing__table .basic .basic__button {
  position: absolute;
  bottom: -25px;
  left: 25%;
  width: 50%;
  height: 50px;
  border-radius: 23px;
  cursor: pointer;
  background: #EB476E;
  border: 1px solid #FB3B64;
}
.pricing .pricing__table .basic .basic__button p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  color: #FFFFFF;
}
.pricing .pricing__table .premium {
  position: relative;
  border: 1px solid #55DFB4;
  border-radius: 18px;
  margin: 0px 11% 54px;
  width: 75%;
  padding: 25px 0;
  display: table;
}
.pricing .pricing__table .premium:hover {
  box-shadow: 5px 10px 27px rgba(85, 223, 180, 0.9);
  transform: scale(1.15);
  transition: transform 0.3s ease-in-out;
  border-width: 2px;
}
.pricing .pricing__table .premium div {
  display: table-cell;
  vertical-align: middle;
  width: 50%;
}
.pricing .pricing__table .premium .premium__tittle p {
  text-align: center;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #13253B;
}
.pricing .pricing__table .premium .premium__tittle .premium__pricing {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 46px;
  line-height: 64px;
  color: #55DFB4;
}
.pricing .pricing__table .premium .premium__tittle .sub {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  color: #13253B;
}
.pricing .pricing__table .premium ul {
  text-align: left;
}
.pricing .pricing__table .premium ul li {
  list-style-type: none;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  margin-bottom: 20px;
}
.pricing .pricing__table .premium ul img {
  width: 14px;
  margin-right: 10px;
}
.pricing .pricing__table .premium .premium__button {
  position: absolute;
  bottom: -25px;
  left: 25%;
  width: 50%;
  height: 50px;
  border-radius: 23px;
  cursor: pointer;
  background: #55DFB4;
  border: 1px solid #55DFB4;
}
.pricing .pricing__table .premium .premium__button p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  color: #FFFFFF;
}
.pricing .pricing__table .prof {
  position: relative;
  border: 1px solid #07ACE6;
  border-radius: 18px;
  margin: 0px 11% 54px;
  width: 75%;
  padding: 25px 0;
  display: table;
}
.pricing .pricing__table .prof:hover {
  box-shadow: 5px 10px 27px rgba(7, 172, 230, 0.9);
  transform: scale(1.15);
  transition: transform 0.3s ease-in-out;
  border-width: 2px;
}
.pricing .pricing__table .prof div {
  display: table-cell;
  vertical-align: middle;
  width: 50%;
}
.pricing .pricing__table .prof .prof__tittle p {
  text-align: center;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #13253B;
}
.pricing .pricing__table .prof .prof__tittle .prof__pricing {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 46px;
  line-height: 64px;
  color: #07ACE6;
}
.pricing .pricing__table .prof .prof__tittle .sub {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  color: #13253B;
}
.pricing .pricing__table .prof ul {
  text-align: left;
}
.pricing .pricing__table .prof ul li {
  list-style-type: none;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  margin-bottom: 20px;
}
.pricing .pricing__table .prof ul img {
  width: 14px;
  margin-right: 10px;
}
.pricing .pricing__table .prof .prof__button {
  position: absolute;
  bottom: -25px;
  left: 25%;
  width: 50%;
  height: 50px;
  border-radius: 23px;
  cursor: pointer;
  background: #07ACE6;
  border: 1px solid #07ACE6;
}
.pricing .pricing__table .prof .prof__button p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  color: #FFFFFF;
}

@media only screen and (min-width: 1000px) {
  .pricing {
    display: flex;
    flex-direction: column;
    margin-top: 127.5px;
  }
  .pricing .pricing__table {
    margin: 50px 132px 180px;
    display: flex;
    align-items: center;
  }
  .pricing .pricing__table .basic {
    margin: 0 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .pricing .pricing__table .basic .basic__pricing {
    margin-bottom: 75px;
  }
  .pricing .pricing__table .prof {
    margin: 0 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .pricing .pricing__table .prof .sub {
    margin-bottom: 61px;
  }
  .pricing .pricing__table .premium {
    margin: 0 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .pricing .pricing__table .premium .sub {
    margin-bottom: 61px;
  }
  .pricing .pricing__table .txt {
    margin-bottom: 14px;
  }
}
#myform {
  position: relative;
  margin-left: 8%;
}
#myform .form__text h3 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 47px;
  margin: 50px 0 5px;
}
#myform .form__text .form__sub {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 38px;
}
#myform .form__text .data__contact {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #A5A5A5;
  margin-bottom: 17px;
}
#myform .form__text .data__contact img {
  margin-right: 11px;
}
#myform .form__fields label {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 3.28px;
  color: #08A6E4;
  margin-bottom: 42px;
}
#myform .form__fields input {
  border: none;
  border-bottom: 1px solid #95989A;
  margin: 42px 0;
  font-size: 1rem;
}
#myform .form__fields input:focus {
  outline: none;
}
#myform .form__fields .protect__data {
  display: table;
  position: relative;
  width: 85%;
}
#myform .form__fields .protect__data .aceptar {
  display: table-cell;
  vertical-align: middle;
  margin-right: 10px;
}
#myform .form__fields .protect__data p {
  display: table-cell;
  vertical-align: middle;
  height: 144px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #707070;
  width: 95%;
}
#myform .form__fields #send {
  height: 57px;
  width: 60%;
  background: #08A6E4;
  color: #FFFFFF;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  border: 1px solid #08A6E4;
  box-shadow: 5px 10px 14px rgba(7, 172, 230, 0.29);
  border-radius: 35px;
  margin: 33px 0px 0px 31%;
  cursor: pointer;
}

@media only screen and (min-width: 1000px) {
  #myform {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: start;
  }
  #myform .form__text {
    margin-right: 113px;
    display: flex;
    flex-direction: column;
    text-align: end;
  }
  #myform .form__text .form__data {
    display: flex;
    justify-content: end;
  }
  #myform .form__text .form__data .data__contact {
    margin-left: 23px;
  }
  #myform .form__text h3 {
    margin: 0;
  }
  #myform .form__fields {
    width: 440px;
  }
  #myform .form__fields #name {
    width: 80%;
  }
  #myform .form__fields #email {
    width: 80%;
  }
  #myform .form__fields .send {
    max-width: 226px;
    max-height: 57px;
  }
}
.footer {
  position: relative;
  width: 100%;
  height: 89px;
  left: 0px;
  bottom: 0px;
  margin-top: 44px;
  background: #F7F7F7;
  box-shadow: 0px -5px 40px rgba(0, 0, 0, 0.2);
}
.footer h1 {
  margin: 22px 0 0 5%;
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 300;
  line-height: 30px;
  display: inline-block;
  color: #08A6E4;
}
.footer p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 15px;
  color: #A5A5A5;
  margin-left: 5%;
}
.footer .networks {
  position: absolute;
  top: 33px;
  right: 30px;
}
.footer .networks img {
  margin: 0 5px 0;
  cursor: pointer;
}

@media only screen and (min-width: 1000px) {
  .main .main__open {
    max-width: 440px;
  }
  .background .background__image {
    height: 594px;
  }
}/*# sourceMappingURL=style.css.map */